In [1]:
class Person:
    # __init__ 메소드(멤버 함수)는 생성자이다.
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def disp(self):
        print(self.name)
        print(self.age)

In [2]:
p1 = Person('홍길동', 22)

In [3]:
p2 = Person('철수', 35)

In [4]:
p1.disp()

홍길동
22

In [5]:
p2.disp()

철수
35

In [6]:
p1

In [7]:
p2

In [37]:
class NewPerson:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def disp(self):
        print(self.name)
        print(self.age)
    # __repr__함수를 정의하면 외부에서 그냥 변수이름으로 출력가능
    def __repr__(self):
        return str(self.name) + '|' + str(self.age)

In [38]:
p3 = NewPerson('홍길동', 22)

In [39]:
p4 = NewPerson('철수', 35)

In [40]:
p3

홍길동|22

In [41]:
p4

철수|35

In [50]:
class Person2:
    # input은 사용자에게 입력받는 함수이다.
    def __init__(self):
        self.name = input('Name:')
        self.age = input('Age:')
    def disprint(self):
        print('Name = ', self.name)
        print('Age = ', self.age)

In [51]:
customer = []
for i in range(5):
    customer.append(Person2())

Name:AAA
Age:12
Name:BBB
Age:25
Name:CCC
Age:38
Name:DDD
Age:51
Name:EEE
Age:64

In [52]:
customer[0]

In [53]:
customer[0].disprint()

Name =  AAA
Age =  12

In [54]:
customer[1].disprint()

Name =  BBB
Age =  25

In [55]:
for i in range(5):
    customer[i].disprint()

Name =  AAA
Age =  12
Name =  BBB
Age =  25
Name =  CCC
Age =  38
Name =  DDD
Age =  51
Name =  EEE
Age =  64

In [57]:
for i in customer:
    i.disprint()

Name =  AAA
Age =  12
Name =  BBB
Age =  25
Name =  CCC
Age =  38
Name =  DDD
Age =  51
Name =  EEE
Age =  64

In [60]:
[i.disprint() for i in customer]

Name =  AAA
Age =  12
Name =  BBB
Age =  25
Name =  CCC
Age =  38
Name =  DDD
Age =  51
Name =  EEE
Age =  64

[None, None, None, None, None]